/* Fonts */
@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Pattaya;
    src: url(./fonts/Pattaya-Regular.ttf);
}

/* GLobal */
:root {
    --dark-blue: #131c27;
    --light-blue: #4c6e97;
    --light-blue-2: #1d3450;
    --white: #fff;
    --gradient: linear-gradient(rgba(0 0 0 / 0.5), transparent)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 10px */
}

body {
    font-family: Poppins, sans-serif;
}


h2 {
    font-size: 4.8rem;
}


li,
button,
label,
input,
p {
    font-size: 2rem;
}

a {
    color: var(--white);
    text-decoration: none;
}

button {
    padding: 2rem 6rem;
    background-color: var(--light-blue);
    border: none;
    color: var(--white);
    font-size: 1.8rem;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

button:hover,
button:focus {
    background-color: var(--light-blue-2);
}


.caption {
    font-size: 3rem;
}

/* Nav */

.main-head {
    background-color: var(--dark-blue);
    color: var(--white);
}

nav {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-inline: auto;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
}

#logo {
    font-family: Pattaya, serif;
    font-size: 2.6rem;
    flex: 2 1 40rem;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

/* Hero  */

.hero {
    color: var(--white);
    min-height: 90vh;
    background: var(--gradient), url(./img/landing-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

/* Locations */
#locations {
    min-height: 100vh;
    background: var(--gradient), url(./img/new-york-page.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.locations-head {
    width: 90%;
    margin-inline: auto;
}

.locations__heading {
    margin-block-end: 4rem;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
}

.locations__caption {
    max-width: 40ch;
    text-shadow:
        0.2rem 0.2rem var(--white),
        -0.2rem -0.2rem var(--white),
        0.2rem -0.2rem var(--white),
        -0.2rem 0.2rem var(--white);
}

.cloud {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.moving-cloud-1 {
    animation: cloudAnimation 3s infinite alternate ease-in-out;
}

.moving-cloud-2 {
    top: 15%;
    z-index: -1;
    opacity: 0.5;
    animation: cloudAnimation 5s infinite alternate ease-in-out;
}

@keyframes cloudAnimation {
    from {
        transform: translate(10%, -10%);
    }

    to {
        transform: translate(0%, 0%);
    }
}


/* Media Queries */

@media screen and (max-width: 1400px) {
    .cloud {
        height: 40rem;
    }
}

@media screen and (max-width: 936px) {
    html {
        font-size: 45%;
    }
}

@media screen and (max-width: 671px) {
    nav {
        text-align: center;
    }

    #logo {
        padding: 1rem;
    }

    .locations__caption {
        background-color: rgba(255, 255, 255, 0.6);
        padding: 1rem;
    }
}