/* Fonts */
@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Pattaya;
    src: url(./fonts/Pattaya-Regular.ttf);
}

/* GLobal */
:root {
    --dark-blue: #131c27;
    --light-blue: #4c6e97;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 10px */
}

body {
    color: var(--white);
    font-family: Poppins, sans-serif;
}

li,
button,
label,
input,
p {
    font-size: 2rem;
}

a {
    color: var(--white);
    text-decoration: none;
}

button {
    padding: 2rem 6rem;
    background-color: var(--light-blue);
    border: none;
    color: var(--white);
    font-size: 1.8rem;
    cursor: pointer;
}

/* Nav */

.main-head {
    background-color: var(--dark-blue);
}

nav {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-inline: auto;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
}

#logo {
    font-family: Pattaya, serif;
    font-size: 2.6rem;
    flex: 2 1 40rem;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

/* Hero  */

.hero {
    min-height: 90vh;
    background: linear-gradient(rgba(0 0 0 / 0.5), transparent), url(./img/landing-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.hero__heading {
    font-size: 4.8rem;
}

.hero__caption {
    font-size: 3rem;
}

@media screen and (max-width: 936px) {
    html {
        font-size: 45%;
    }
}

@media screen and (max-width: 671px) {
    nav {
        text-align: center;
    }

    #logo {
        padding: 1rem;
    }
}